.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  margin: 2.4rem;
}
